<section id="ballot-owner" class="px800">
  <h2 class="owner">{{ctrl.ballot | fullName}}</h2>
  <h1 class="total-score">{{ctrl.ballot.score}}</h1>
  <div class="circle"></div>
  <p style="padding-top: 30px;">
    <a ng-href="/export/{{ctrl.ballot._id}}" download="{{ctrl.ballot.firstName+ctrl.ballot.lastName}}.csv" target="_self" class="gray">Download picks in excel</a>
  </p>
  <p style="padding-top: 30px;">
    <a href="" ng-click="ctrl.clearVotes(ctrl.ballot)" class="gray">Clear all picks</a>
  </p>
</section>
<section ng-if="ctrl.game.locked">
  <p>Ballots are locked. No further edits can be made.</p>
</section>
<section id="ballot" class="px800">
  <div class="category" ng-repeat="category in ctrl.categories | orderBy:'position'">
    <div class="category-header">
      <h2 class="category-name">
        <span>{{category.name}}</span>
      </h2>
      <div class="bars">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p>( {{category.remaining}} pts remaining )</p>
    </div>
    <div class="category-nominees">
      <ul>
        <li ng-repeat="nominee in category.nominees | orderBy:'position'">
          <input type="text" ng-model="nominee.newPoints" ng-blur="ctrl.setPoints(category, nominee)" ng-disabled="ctrl.game.locked">
          <label>{{nominee.name}}<span ng-hide="!nominee.detail">({{nominee.detail}})</span></label>
        </li>
      </ul>
    </div>
  </div>
</section>
