<navigation />
<div id="ballot">
  <section>
    <h1>{{ctrl.user | fullName}}'s Ballot - <span>00 points</span></h1>
    <h3><a href="">Export Spreadsheet</a></h3>
  </section>
  <section class="picks">
    <fieldset ng-repeat="category in ctrl.categories | orderBy:'position'">
      <h2>{{category.name}} <span>({{category.remaining}} pts. remaining)</span></h2>
      <ul>
        <li ng-repeat="nominee in category.nominees | orderBy:'position'">
         <input type="text" ng-model="nominee.newPoints" ng-blur="ctrl.setPoints(category, nominee)"><label>{{nominee.name}} <span class="detail" ng-hide="!nominee.detail">({{nominee.detail}})</span></label>
        </li>
      </ul>
    </fieldset>
  </section>
</div>
