<div id="ballot">
  <section>
    <h1>Noah Wenz's Ballot - <span>00 points</span></h1>
    <h3><a href="">Export Spreadsheet</a></h3>
  </section>
  <section class="picks">
    <fieldset>
      <h2>Best Picture <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>American Hustle</label>
        </li>
        <li>
         <input type="text"><label>Captain Phillips</label>
        </li>
        <li>
         <input type="text"><label>Dallas Buyers Club</label>
        </li>
        <li>
         <input type="text"><label>Gravity</label>
        </li>
        <li>
         <input type="text"><label>Her</label>
        </li>
        <li>
         <input type="text"><label>Nebraska</label>
        </li>
        <li>
         <input type="text"><label>Philomena</label>
        </li>
        <li>
         <input type="text"><label>12 Years a Slave</label>
        </li>
        <li>
         <input type="text"><label>The Wolf of Wall Street</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <h2>Best Director <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>David O. Russell <span class="detail">(American Hustle)</span></label>
        </li>
        <li>
         <input type="text"><label>Alfonso Cuar&oacute;n <span class="detail">(Gravity)</span></label>
        </li>
        <li>
         <input type="text"><label>Alexander Payne <span class="detail">(Nebraska)</span></label>
        </li>
        <li>
         <input type="text"><label>Steve McQueen <span class="detail">(12 Years a Slave)</span></label>
        </li>
        <li>
         <input type="text"><label>Martin Scorsese <span class="detail">(The Wolf of Wall Street)</span></label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <h2>Film Editing <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>American Hustle</label>
        </li>
        <li>
         <input type="text"><label>Captain Phillips</label>
        </li>
        <li>
         <input type="text"><label>Dallas Buyers Club</label>
        </li>
        <li>
         <input type="text"><label>Gravity</label>
        </li>
        <li>
         <input type="text"><label>12 Years a Slave</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <h2>Writing - Original Screenplay <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>American Hustle</label>
        </li>
        <li>
         <input type="text"><label>Blue Jasmine</label>
        </li>
        <li>
         <input type="text"><label>Dallas Buyers Club</label>
        </li>
        <li>
         <input type="text"><label>Her</label>
        </li>
        <li>
         <input type="text"><label>Nebraska</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <h2>Writing - Adapted Screenplay <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>Before Midnight</label>
        </li>
        <li>
         <input type="text"><label>Captain Phillips</label>
        </li>
        <li>
         <input type="text"><label>Philomena</label>
        </li>
        <li>
         <input type="text"><label>12 Years a Slave</label>
        </li>
        <li>
         <input type="text"><label>The Wolf of Wall Street</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Actor in a Leading Role <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>Christian Bale <span class="detail">(American Hustle)</span></label>
        </li>
        <li>
         <input type="text"><label>Bruce Dern <span class="detail">(Nebraska)</span></label>
        </li>
        <li>
         <input type="text"><label>Leonardo DiCaprio <span class="detail">(The Wolf of Wall Street)</span></label>
        </li>
        <li>
         <input type="text"><label>Chiwetel Ejiofor <span class="detail">(12 Years a Slave)</span></label>
        </li>
        <li>
         <input type="text"><label>Matthew McConaughey <span class="detail">(Dallas Buyers Club)</span></label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Actress in a Leading Role <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>Amy Adams <span class="detail">(American Hustle)</span></label>
        </li>
        <li>
         <input type="text"><label>Cate Blanchett <span class="detail">(Blue Jasmine)</span></label>
        </li>
        <li>
         <input type="text"><label>Sandra Bullock <span class="detail">(Gravity)</span></label>
        </li>
        <li>
         <input type="text"><label>Judi Dench <span class="detail">(Philomena)</span></label>
        </li>
        <li>
         <input type="text"><label>Meryl Streep <span class="detail">(August: Osage County)</span></label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Actor in a Supporting Role <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>Barkhad Abdi <span class="detail">(Captain Phillips)</span></label>
        </li>
        <li>
         <input type="text"><label>Bradley Cooper <span class="detail">(American Hustle)</span></label>
        </li>
        <li>
         <input type="text"><label>Michael Fassbender <span class="detail">(12 Years a Slave)</span></label>
        </li>
        <li>
         <input type="text"><label>Jonah Hill <span class="detail">(The Wolf of Wall Street)</span></label>
        </li>
        <li>
         <input type="text"><label>Jared Leto <span class="detail">(Dallas Buyers Club)</span></label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Actress in a Supporting Role <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>Sally Hawkins <span class="detail">(Blue Jasmine)</span></label>
        </li>
        <li>
         <input type="text"><label>Jennifer Lawrence <span class="detail">(American Hustle)</span></label>
        </li>
        <li>
         <input type="text">
         <label>Lupita Nyong'o <span class="detail">(12 Years a Slave)</span></label>
        </li>
        <li>
         <input type="text"><label>Julia Roberts <span class="detail">(August: Osage County)</span></label>
        </li>
        <li>
         <input type="text"><label>June Squibb <span class="detail">(Nebraska)</span></label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Cinematography <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>The Grandmaster</label>
        </li>
        <li>
         <input type="text"><label>Gravity</label>
        </li>
        <li>
         <input type="text"><label>Inside Llewyn Davis</label>
        </li>
        <li>
         <input type="text"><label>Nebraska</label>
        </li>
        <li>
         <input type="text"><label>Prisoners</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Production Design <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>American Hustle</label>
        </li>
        <li>
         <input type="text"><label>Gravity</label>
        </li>
        <li>
         <input type="text"><label>The Great Gatsby</label>
        </li>
        <li>
         <input type="text"><label>Her</label>
        </li>
        <li>
         <input type="text"><label>12 Years a Slave</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Costume Design <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>American Hustle</label>
        </li>
        <li>
         <input type="text"><label>The Grandmaster</label>
        </li>
        <li>
         <input type="text"><label>The Great Gatsby</label>
        </li>
        <li>
         <input type="text"><label>The Invisible Woman</label>
        </li>
        <li>
         <input type="text"><label>12 Years a Slave</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Makeup &amp; Hairstyling <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>Dallas Buyers Club</label>
        </li>
        <li>
         <input type="text"><label>Jackass Presents: Bad Grandpa</label>
        </li>
        <li>
         <input type="text"><label>The Lone Ranger</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Sound Mixing <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>Captain Phillips</label>
        </li>
        <li>
         <input type="text"><label>Gravity</label>
        </li>
        <li>
         <input type="text"><label>The Hobbit: The Desolation of Smaug</label>
        </li>
        <li>
         <input type="text"><label>Inside Llewyn Davis</label>
        </li>
        <li>
         <input type="text"><label>Lone Survivor</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Sound Editing <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>All Is Lost</label>
        </li>
        <li>
         <input type="text"><label>Captain Phillips</label>
        </li>
        <li>
         <input type="text"><label>Gravity</label>
        </li>
        <li>
         <input type="text"><label>The Hobbit: The Desolation of Smaug</label>
        </li>
        <li>
         <input type="text"><label>Lone Survivor</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Music - Original Score <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>The Book Thief</label>
        </li>
        <li>
         <input type="text"><label>Gravity</label>
        </li>
        <li>
         <input type="text"><label>Her</label>
        </li>
        <li>
         <input type="text"><label>Philomena</label>
        </li>
        <li>
         <input type="text"><label>Saving Mr. Banks</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Music - Original Song <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>Despicable Me 2 <span class="detail">(Happy)</span></label>
        </li>
        <li>
         <input type="text"><label>Frozen <span class="detail">(Let it Go)</span></label>
        </li>
        <li>
         <input type="text"><label>Her <span class="detail">(The Moon Song)</span></label>
        </li>
        <li>
         <input type="text"><label>Mandela: Long Walk to Freedom <span class="detail">(Ordinary Love)</span></label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Visual Effects <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>Gravity</label>
        </li>
        <li>
         <input type="text"><label>The Hobbit: The Desolation of Smaug</label>
        </li>
        <li>
         <input type="text"><label>Iron Man 3</label>
        </li>
        <li>
         <input type="text"><label>The Lone Ranger</label>
        </li>
        <li>
         <input type="text"><label>Star Trek Into Darkness</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Animated Feature Film <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>The Croods</label>
        </li>
        <li>
         <input type="text"><label>Despicable Me 2</label>
        </li>
        <li>
         <input type="text"><label>Ernest &amp; Celestine</label>
        </li>
        <li>
         <input type="text"><label>Frozen</label>
        </li>
        <li>
         <input type="text"><label>The Wind Rises</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Documentary Feature <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>The Act of Killing</label>
        </li>
        <li>
         <input type="text"><label>Cutie and the Boxer</label>
        </li>
        <li>
         <input type="text"><label>Dirty Wars</label>
        </li>
        <li>
         <input type="text"><label>The Square</label>
        </li>
        <li>
         <input type="text"><label>20 Feet from Stardom</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
       <h2>Foreign Language Film <span>(00 pts. remaining)</span></h2>
      <ul>
        <li>
         <input type="text"><label>The Broken Circle Breakdown</label>
        </li>
        <li>
         <input type="text"><label>The Great Beauty</label>
        </li>
        <li>
         <input type="text"><label>The Hunt</label>
        </li>
        <li>
         <input type="text"><label>The Missing Picture</label>
        </li>
        <li>
         <input type="text"><label>Omar</label>
        </li>
      </ul>
    </fieldset>
  </section>
</div>
