<section id="how-to-play" class="px800">
  <h2>HOW TO PLAY</h2>
  <h6>Note: This is a closed game. If you arrived here without an invite please refrain from signing up.</h6>
  <div class="bars">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ol>
    <li>
      <h5>Enter the Game</h5>
      <ul>
        <li>Click the “Get My Ballot” link to get started.</li>
        <li>If you have not yet signed up for this year, you will be asked for you name, email, password and the secret invite code.</li>
        <li>If you have already created your account you can simply log in to see your ballot.</li>
        <li>If you have trouble with this step, please <a href="mailto:info@goldenstatuechallenge.com?subject=Golden Statue Challenge Login Help" target="_blank">contact us</a>.</li>
      </ul>
    </li>
    <li>
      <h5>Make Your Picks</h5>
      <ul>
        <li>In each of the 24 categories assign the 10 available points (20 for Best Picture) any way you wish.</li>
        <li>
          As you assign points to nominees the number of points remaining will be reflected below the category title (see below).<br>
          <img src="/img/how-to-1.png">
        </li>
        <li>
          Be sure you use ALL of the available points (see below).<br>
          <img src="/img/how-to-2.png">
        </li>
        <li>You will be awarded with the number of points you assigned to the winner of each category as they are announced.</li>
        <li>Note: in the event of a tie in any category, points will be awarded for all winners.</li>
        <li>Picks will lock at Noon on Sunday, February 26. You may change your picks at any time before the deadline.</li>
      </ul>
    </li>
    <li>
      <h5>Pay Your Entry</h5>
      <ul>
        <li>Payment is by PayPal only. Please <a href="mailto:info@goldenstatuechallenge.com?subject=Golden Statue Challenge Paypal Link" target="_blank">contact us</a> for a PayPal link.</li>
        <li>Entry is due by Noon on Sunday, February 26.</li>
        <li>
          Winnings are awarded as follows:<br>
          <span>2/3 of the combined entry fees will go to the ballot with the highest score with the remaining 1/3 going to the second-highest score.</span><br>
          <span>In the event of a tie for first place, the combined entry fees will be equally divided between the tied entrants.</span>
        </li>
      </ul>
    </li>
    <li>
      <h5>Watch the Show</h5>
      <ul>
        <li>Tune in to The Oscars on Sunday, February 26 (6:00pm CST on ABC) and track your results during the show.</li>
        <li>Scores will be updated after most categories and can be seen on the <a href="/results">Results</a> page.</li>
<!--
        <li>
          If you would like a printable ballot to fill out and follow along with during the show you can download one below.<br>
          <img src="/img/budapest.png">
        </li>
-->
      </ul>
    </li>
  </ol>
</section>
