<section id="login" class="px800">
  <div class="category">
    <div class="category-header">
      <h2 class="category-name">
        <span>Enter the Game</span>
      </h2>
      <div class="bars">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="category-nominees">
      <fieldset>
      <form ng-submit="login(user, password)">
        <ul>
          <li>
            <button type="submit" class="getballot">Get My Ballot</button>
          </li>
        </ul>
      </form>
      </fieldset>
    </div>
  </div>
  <div style="margin-top:40px;">
    <h6 style="color: #f8f8f8; font-weight:100;">Note: If you have not signed up yet you will be asked to create an account.</h6>
    <h6 style="font-weight:100;"><a href="mailto:info@goldenstatuechallenge.com?subject=Golden Statue Challenge Login Help">Contact us</a> for login help</h6>
  </div>
  <!-- <div class="category gray">
    <div class="category-header">
      <h2 class="category-name">
        <span>Don't Have a Ballot?</span>
      </h2>
      <h6>Note: This is a closed game. If you arrived here without an invite please refrain from signing up.</h6>
      <div class="bars">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="category-nominees">
      <fieldset>
        <ul>
          <li>
            <button type="submit" class="signup" ng-click="gotoRegister()">Sign Up</button>
          </li>
        </ul>
      </fieldset>
      <ng-include src="'/views/contactLink.html'"></ng-include>
    </div>
  </div> -->
  <script>
    document.getElementById('vid').play()
</script>
</section>
