<section id="login" class="px800">
  <div class="category">
    <div class="category-header">
      <h2 class="category-name">
        <span>Create Your Ballot Account</span>
      </h2>
      <div class="bars">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="category-nominees">
      <fieldset>
        <div ng-if="ctrl.error">{{ctrl.error}}</div>
        <ul>
          <li>
            <input type="text" name="first name" placeholder="First Name" ng-model="newUser.firstName">
          </li>
          <li>
            <input type="text" name="last name" placeholder="Last Name or Initial" ng-model="newUser.lastName">
          </li>
          <li>
            <input type="password" name="password" placeholder="PASSWORD" ng-model="newUser.password">
          </li>
          <li>
            <input type="text" name="email" placeholder="Email" ng-model="newUser.email">
          </li>
          <li>
            <input type="invite" name="invite" placeholder="Invite Code" ng-model="newUser.invite">
          </li>
          <li>
            <button type="submit" class="getballot" ng-click="ctrl.createUser(newUser)">Create My Ballot</button>
          </li>
        </ul>
      </fieldset>
      <div style="display: block; margin: 20px auto 0; width: 240px; height: 240px !important; position: relative;">
        <img src="/img/video-border.png" style="position: absolute; left: 0px; top: 0px; z-index: 100;">
        <video src="/video/oscars-2016.mp4" type="video/mp4" preload="" autoplay loop></video>
      </div>
      <ng-include src="'/views/contactLink.html'"></ng-include>
    </div>
  </div>
</section>
