<section id="login" class="px800">
  <div class="category">
    <div class="category-header">
      <h2 class="category-name">
        <span>Create Your Ballot Account</span>
      </h2>
      <div class="bars">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="category-nominees">
      <fieldset>
        <div ng-if="ctrl.error">{{ctrl.error}}</div>
        <ul>
          <li>
            <input type="text" name="first name" placeholder="First Name" ng-model="newUser.firstName">
          </li>
          <li>
            <input type="text" name="last name" placeholder="Last Name or Initial" ng-model="newUser.lastName">
          </li>
          <li>
            <input type="text" name="email" placeholder="Email" ng-model="newUser.email">
          </li>
          <li>
            <select name="location" ng-model="newUser.location">
              <option value="">Location</option>
              <option value="minneapolis">Minneapolis</option>
              <option value="chicago">Chicago</option>
            </select>
          </li>
          <li>
            <input type="invite" name="invite" placeholder="Invite Code" ng-model="newUser.invite">
          </li>
          <li>
            <button type="submit" class="getballot" ng-click="ctrl.createUser(newUser)">Create My Ballot</button>
          </li>
        </ul>
      </fieldset>
      <div style="display: block; margin: 0 auto 40px; width: 300px; height: 300px !important; position: relative;">
        <div id="crossfade">
          <img src="/img/2019-black-panther.png" alt="Black Panther">
          <img src="/img/2019-blackkklansman.png" alt="BlacKkKlansman">
          <img src="/img/2019-bohemian-rhapsody.png" alt="Bohemian Rhapsody">
          <img src="/img/2019-the-favourite.png" alt="The Favourite">
          <img src="/img/2019-green-book.png" alt="Green Book">
          <img src="/img/2019-roma.png" alt="Roma">
          <img src="/img/2019-a-star-is-born.png" alt="A Star Is Born">
          <img src="/img/2019-vice.png" alt="Vice">
        </div>
      </div>
      <ng-include src="'/views/contactLink.html'"></ng-include>
    </div>
  </div>
</section>
