<section id="login" class="px800">
  <div class="category">
    <div class="category-header">
      <h2 class="category-name">
        <span>Reset Password</span>
      </h2>
      <div class="bars">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="category-nominees">
      <fieldset ng-if="!success">
        <div ng-if="error">{{error}}</div>
        <ul>
          <li>
            <input type="password" name="password" placeholder="Password" ng-model="password">
          </li>
            <li>
              <input type="password" name="confirm" placeholder="Confirm Password" ng-model="confirm">
            </li>
          <li>
            <button type="submit" class="getballot" ng-click="reset(password, confirm)">Reset Password</button>
          </li>
        </ul>
      </fieldset>
      <fieldset ng-if="success">
        <div>{{success}}</div>
      </fieldset>
      <ng-include src="'/views/contactLink.html'"></ng-include>
    </div>
  </div>
</section>
