<section id="results" class="px1200">
  <h2>User List</h2>
  <div class="bars">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <table>
    <thead>
      <tr>
        <th class="player"><a href ng-click="sort='ctrl.firstName';ctrl.dir=!ctrl.dir">First</a></th>
        <th class="player"><a href ng-click="sort='ctrl.lastName';ctrl.dir=!ctrl.dir">Last</a></th>
        <th class="player"><a href ng-click="sort='ctrl.email';ctrl.dir=!ctrl.dir">Email</a></th>
        <th class="player"><a href ng-click="sort='ctrl.location';ctrl.dir=!ctrl.dir">Location</a></th>
        <th><a href ng-click="sort='ctrl.admin';ctrl.dir=!ctrl.dir">Admin?&nbsp;</a></th>
        <th style="line-height:16px;padding:0 15px 0 15px;"><a href ng-click="sort='ctrl.party';ctrl.dir=!ctrl.dir">Oscar Party?</a></th>
        <th style="line-height:16px;padding:0 15px 0 15px;"><a href ng-click="sort='ctrl.party';ctrl.dir=!ctrl.dir">Oscar Party Only?</a></th>
        <th style="line-height:16px;padding:0 15px 0 15px;"><a href ng-click="sort='ctrl.paid';ctrl.dir=!ctrl.dir">Paid?</a></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in ctrl.users | orderBy:ctrl.sort:ctrl.dir">
        <td class="player"><a ng-href="/ballot/{{user._id}}">{{user.firstName}}</a></td>
        <td class="player"><a ng-href="/ballot/{{user._id}}">{{user.lastName}}</a></td>
        <td class="player">{{user.email}}</td>
        <td class="player"><select name="location" ng-model="user.location" ng-change="ctrl.saveUser(user)">
            <option value="">Location</option>
            <option value="minneapolis">Minneapolis</option>
            <option value="chicago">Chicago</option>
          </select></td>
        <td><input type="checkbox" ng-model="user.admin" ng-change="ctrl.saveUser(user)"></td>
        <td><input type="checkbox" ng-model="user.party" ng-change="ctrl.saveUser(user)"></td>
        <td><input type="checkbox" ng-model="user.partyOnly" ng-change="ctrl.saveUser(user)"></td>
        <td><input type="checkbox" ng-model="user.paid" ng-change="ctrl.saveUser(user)"></td>
        <td><a href ng-click="ctrl.deleteUser(user._id, $index)">X</a></td>
      </tr>
    </tbody>
  </table>
</section>
