/* GOOGLE FONTS
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Poiret One', cursive;
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Poiret+One);

/* GLOBAL */

body {
	background: #222 !important;
	color: #F8F8F8;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	padding: 220px 0 150px !important;
	text-transform: uppercase;
}

h1 { font-family: 'Poiret One', cursive; font-size: 60px !important; }
h2 { font-family: 'Poiret One', cursive; font-size: 48px !important; margin-bottom: 20px !important; text-align: center; }
h3 { font-size: 36px !important; }
h4 { font-size: 30px !important; }
h5 { font-size: 24px !important; }
h6 { color: #666; font-size: 14px; font-weight: 400; padding-bottom: 30px !important; text-align: center; clear: both; }

a:link, a:visited { color: #B2A07E; text-decoration: none; }
a:hover, a:active { color: #fff; text-decoration: underline; }

a.gray:link, a.gray:visited { color: #666; }
a.gray:hover, a.gray:active { color: #fff; text-decoration: underline; }


section {
	margin: 40px auto 0 !important;
	position: relative;
}

input { color: #f8f8f8; }

input:focus {
	background: #B2A07E !important;
	color: #262626 !important;
	border: none !important;
	outline: none !important;
}

input[type="password"] { text-transform: none !important; }

.px1200 { width: 1200px; }
.px800 { width: 800px; }

p { text-align: center; }

/* TRANSITIONS */

a, li, [data-tooltip], button, input, label {
	-webkit-transition: all ease 200ms; /* For Safari 3.1 to 6.0 */
    transition: all ease 200ms;
}

/* HEADER */

header {
	background-color: #262626 !important;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#header a {
	background: url('../img/golden-statue-challenge.png') 50% no-repeat;
	display: block;
	height: 57px;
	width: 811px;
	margin: 40px auto;
	text-indent: -9999px ;
}

/* NAV */

#nav {
	background: #111;
	overflow: hidden;
	position: relative;
}

nav {
	float: right;
	position: relative;
	right: 50%;
}

nav ul {
	float: right;
	position: relative;
	right: -50%
}

nav ul li {
	display: inline-block;
	padding: 20px;
}

nav ul li a:link, nav ul li a:visited { color: #666; }
nav ul li:hover, nav ul li:active { background: #B2A07E; cursor: pointer; }
nav ul li:hover a, nav ul li:active a { color: #fff; text-decoration: none; }

/* BALLOT */
#ballot-owner { text-align: center; }
#ballot-owner .owner { margin-bottom: 10px !important; }
#ballot-owner .total-score { color: #B2A07E; font-weight: 100; }
.circle {
	background: #111;
	-webkit-border-radius: 82px;
	border-radius: 82px;
	height: 164px;
	left: 318px;
	margin: 0 auto;
	position: absolute;
	top: -25px;
	width: 164px;
	z-index: -10;
}

.category { margin-top: 100px; }

.category-header { position: relative; }
.category-header .bars {
	height: 17px;
	position: absolute;
	top: 15px;
	width: 100%;
	z-index: -10;
}

.bars span {
	background: #B2A07E;
	display: block;
	position: absolute;
}

.bars span:nth-child(1) { height: 1px; left: 10px; right: 10px; }
.bars span:nth-child(2) { height: 3px; margin-top: 6px; width: 100%; }
.bars span:nth-child(3) { height: 1px; margin-top: 15px; left: 10px; right: 10px; }

.category-header p {
	clear: both;
	color: #666;
	font-style: italic;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.category-name {
	float: right;
	position: relative;
	right: 50%;
}

.category-name span {
	float: right;
	right: -50%;
	position: relative;
	background: #262626;
	padding: 0 10px;
}

#ballot ul {
	margin: 30px 0 0 200px;
}

#ballot ul li {
	margin: 0 0 4px;
}

#ballot ul li:hover input {
	background: #9E9E9E;
	cursor: pointer;
}

#ballot ul li:hover label {
	color: #B2A07E;
	font-weight: 900;
}

#ballot ul label {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
#ballot ul label span {
	color: #797979;
	font-style: italic;
	font-weight: 300;
	padding-left: 1em;
}
#ballot input {
	background: #333;
	border: none;
	font-size: 18px;
	font-weight: 900;
	height: 40px;
	padding: 0;
	text-align: center;
	width: 70px;
}

/* RESULTS */
#results {  }

#results table {
	margin-top: 50px;
}

#results td, #results th {
	border-bottom: solid 1px #111;
	font-weight: 300;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 40px;
}

#results th {
	font-weight: 700;
}

#results thead {
	background-color: #111;
	color: #666;
}

#results .rank {
	width: 60px;
}

#results .score {
	font-weight: 900;
	width: 70px;
}

#results .player {
	font-weight: 900;
	width: 230px;
	text-align: left;
	text-indent: 20px;
}

/* HOW TO PLAY */
#how-to-play {  }
#how-to-play ol {
	font-size: 24px;
	font-weight: 600;
	margin: 50px 0 0 50px;
}

#how-to-play ol>li {
	margin-bottom: 30px;
}

#how-to-play ol ul {
	font-size: 18px;
	font-weight: 300;
	line-height: 150%;
	list-style-type: disc;
	margin-left: 1em;
	text-transform: none;
}

#how-to-play img {
	margin-left: 30px;
}

/* SCORING */
#scoring {  }

/* CATEGORIES */
#categories {  }

/* USERS */
#users {  }

/* LOG IN */
#login > div.category:first-child { margin-top: 0; }
#login fieldset { clear: both; }
#login ul {
	margin: 0 auto;
	width: 300px;
}

#login ul input, #login ul select, #login ul button {
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	margin: 0 0 10px;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}

#login ul input, #login ul select {
	background: #666;
	height: 40px;
	line-height: 40px;
	text-indent: 1em;
}

#login ul select {
	-webkit-appearance: none;
	appearance: none;
	background-image: url('../img/select.png');
	background-position: 276px 16px;
	background-repeat: no-repeat;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	color: #f8f8f8;
}

#login ul button {
	background: #B2A07E;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #000;
	font-weight: 900;
	height: 60px;
	line-height: 60px;
}

#login ul button.signup {
	background: #9E9E9E;
}

#login ul button:hover {
	cursor: pointer;
	background: #fff;
}

.category.gray .category-name {
	color: #9E9E9E;
}

.category.gray .bars span {
	background: #666;
}



/* SIGN UP */

/* TOOLTIPS */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 85%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #D8D8D8;
	color: #666;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,1);
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 85%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #D8D8D8;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,1);
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}


#ballot li input:nth-child(n+2) {
	width: 350px;
}
