<!DOCTYPE html>
<html ng-app="oscars">
<head>
  <title>2015 GOLDEN STATUE CHALLENGE</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="shortcut icon" type="image/ico" href="/img/favicon.ico">
</head>
<body>
<!-- HEADER -->
  <header>
    <section id="header">
      <a href="/">2015 Golden Statue Challenge</a>
    </section>
    <section id="nav">
      <nav>
        <ul>
          <li ng-hide="!me"><a href="/ballot">My Picks</a></li>
          <li ng-hide="!me"><a href="/results">Results</a></li>
          <li><a href="/howtoplay">How To Play</a></li>
          <li ng-hide="!me.admin"><a href="/admin/scoring">Scoring</a></li>
          <li ng-hide="!me.admin"><a href="/admin/categories">Categories</a></li>
          <li ng-hide="!me.admin"><a href="/admin/users">Users</a></li>
          <li ng-hide="!me"><a href="/logout" taget="_self">Logout</a></li>
        </ul>
      </nav>
    </section>
  </header>
<!-- PAGES -->

  <div ng-view=""></div>

  <!-- build:js(app/assets) js/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/underscore/underscore.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app/assets}) js/bundle.js -->
  <script src="/js/app.js"></script>
  <script src="/js/filters/filters.js"></script>

  <script src="/js/directives/navigation.js"></script>
  <script src="/js/services/ballotSvc.js"></script>
  <script src="/js/services/categorySvc.js"></script>
  <script src="/js/services/gameSvc.js"></script>
  <script src="/js/services/meProvider.js"></script>
  <script src="/js/services/passwordSvc.js"></script>
  <script src="/js/services/req.js"></script>
  <script src="/js/services/userSvc.js"></script>

  <script src="/js/controllers/ballot.js"></script>
  <script src="/js/controllers/category.js"></script>
  <script src="/js/controllers/forgotPassword.js"></script>
  <script src="/js/controllers/login.js"></script>
  <script src="/js/controllers/loginError.js"></script>
  <script src="/js/controllers/logout.js"></script>
  <script src="/js/controllers/register.js"></script>
  <script src="/js/controllers/resetPassword.js"></script>
  <script src="/js/controllers/results.js"></script>
  <script src="/js/controllers/scoring.js"></script>
  <script src="/js/controllers/user.js"></script>
  <!-- endbuild -->

</body>
</html>
